body{
    margin: 0px;
}

/*classes*/

.taille100
{
	width: 100%
}

.margeg20
{
	margin-left: 20px;
}

.gris
{
	background: rgb(246, 246, 246);
}

.violet
{
	color: rgb(169, 93, 220);
}

.cviolet
{
	color: #9356DC;
}

.rose
{
	color: rgb(227, 112, 218);
}

.crose
{
	color: #FF79DA;
}

.cvert
{
	color: #99E2D0;
}

.noir
{
	background: rgb(53, 53, 53);
}

.gras
{
	font-weight: bold
}

.regulier
{
	font-weight: normal;
}

.taille95
{
	font-size: 1em;
}

.padbot50
{
	padding-bottom: 50px;
}

.padbot30
{
	padding-bottom: 30px;
}

.padleft20
{
	padding-left: 20px;
}

.padrigth20
{
	padding-right: 20px;
}

.padtop20
{
	padding-top: 20px;
}

.grandt
{
	padding: 20px 0px 5px 30px;
	font-size: 1.4em;
	border: none;
	font-weight: bold;	
}


/*fin des classes*/

/*spéciation*/

p, h1, table{
    font-family: 'Roboto', sans-serif;
}

/*fin spéciation*/

/* début keyframe */

@keyframes animation1{
	0%{
		opacity: 0;	
	}
	100%{
		opacity: 1;		
	}
}

@keyframes animation2{
	0%{
		opacity: 1;
		transform: rotate(0);
	}
	10%{
		opacity: 0.8;
	}
	20%{
		opacity: 1;
	}
	30%{
		opacity: 0.8;
	}
	40%{
		opacity: 1;
	}
	50%{
		opacity: 0.8;
	}
	60%{
		opacity: 0.6;
	}
	70%{
		opacity: 0.8;
	}
	80%{
		opacity: 0.1;			
	}
	90%{
		opacity: 0.6;
	}
	100%{
		opacity: 0;
		transform: rotate(2turn)		
	}
}

@keyframes animation3{
	0%{
		opacity: 0;
	}
	35%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes issou {
    0%{
        color: white;
        transform: translateX(0px) translateY(0px);
    }
    4%{
        transform: translateX(0px) translateY(5px);
    }
    8%{
        transform: translateX(0px) translateY(0px);
    }
    12%{
        transform: translateX(0px) translateY(5px);
        color: red;   
    }
    16%{
        transform: translateX(0px) translateY(0px);
    }
    20%{
        transform: translateX(0px) translateY(5px);     
    }
    24%{
        transform: translateX(0px) translateY(0px);
    }
    28%{
        transform: translateX(0px) translateY(5px);
    }
    32%{
        transform: translateX(0px) translateY(0px);
    }
    36%{
        transform: translateX(0px) translateY(5px);
    }
    40%{
        color: rgb(73, 1, 1);
        transform: translateX(0px) translateY(0px);
    }
    80%{
        transition-timing-function : cubic-bezier(0.075, 0.82, 0.165, 1);      
        color: red;
        transform: translateX(-40px) translateY(0px);       
    }
    100%{
        color: red;
        transform: translateX(350px) translateY(0px);      
    }
}


/* fin keyframe */

/* début du code */

/* début de la page accueil */

/* début du header */

header{
    background-color: cornflowerblue;
    margin-bottom: 30px;
    height: 200px;
    padding-top: 20px;
    display: flex;
    box-shadow:inset 0 -10px 15px -7px rgba(4,3,75,1);
}


div#chargement, div#argent, div#transfert, div#programme, div#minage{
    font-size: 3em;
    color: rgb(57, 93, 192);
    background-color: white;
    border-radius: 40px;
    width: 80px;
    height: 67px;
    margin: auto;
    text-align: center;
    padding-top: 13px;
    transition-property: all;
    transition-duration: 1000ms;   
    transform: scale(0.8);
    box-shadow: 0 0 10px 4px #FFFFFF;
}

div#chargement:hover, div#argent:hover, div#transfert:hover, div#programme:hover, div#minage:hover{
    transform: scale(1) rotate(1turn);
    color: turquoise;
    box-shadow: 0 0 10px 4px rgb(57, 93, 192);
    
}

div#chargement:active, div#argent:active, div#transfert:active, div#programme:active, div#minage:active{
    box-shadow: inset 0 0 10px 4px rgb(57, 93, 192);
    color:  rgb(57, 93, 192);
}

div#chargement:active i, div#transfert:active i, div#argent:active i, div#programme:active i, div#minage:active i{
    transition: all;
    transition-duration: 0ms;
    transform: scale(0.8);
}

/* fin du header */

/* début du body */

/* début du nav */

#sectionwallet{
    padding-left: 20px;
    height: 40px;
}

nav{
    position: fixed;
    width: 74px;
    height: 74px;
    background-color: gold;
    border-radius: 20px;
    padding-top: 16px;
    padding-left: 24px;
    color: white;
    transition: 1000ms;
    transform: scale(1);
    opacity: 1;
    box-shadow: 0px 0px 10px 5px yellow;
    display: flex;
}

nav div#wallet i{
    transition: 1000ms;
    transform: scale(1);
    font-size: 3em;
}

nav:active i.wallet1, nav i.wallet2,nav div#wallettext{
    display: none;
}

nav:hover{
    opacity: 1;
    box-shadow: 0px 0px 10px 0px yellow;
    border-radius: 30px;
    transform: scale(0.9);
    width: 400px;
}

nav:hover div#wallet i{
    transform: scale(1) rotate(1turn);
}

nav:active{
    transition: 500ms;
    box-shadow: inset 0px 0px 10px 5px goldenrod;   
}

nav:active i.wallet2{
    display: inline;
}

nav:hover div#wallettext{
    display: block;
    font-size: 1.1em;
    margin-top: -10px;
    padding-left: 50px;
    width: 300px;
    animation: animation3 1000ms;
}
nav:hover div#wallettext p{
    margin: 0;
    margin-bottom: 5px;
}

nav div p i{
    padding-left: 5px;
    padding-right: 5px;
}

/*fin du nav */

section#sectionwallet div#issou{
    font-size: 2.5em;
    position: absolute;
    right: 5%;
    background-color: white;
    color: white;
    background-color: rgb(32, 192, 11);
    border: solid rgb(4, 100, 4) 5px;
    box-shadow: 0px 0px 10px 5px green;
    border-radius: 20px;
    height: 60px;
    width: 300px;
    transform: scale(1);
    transition: box-shadow;
    transition-duration: 600ms; 
}

section#sectionwallet div#issou:hover{
    box-shadow: 0px 0px 15px 10px rgb(40, 136, 40);
}

body section#sectionwallet div#issou:hover p i{
    animation: issou;
    animation-duration: 2000ms;
    animation-fill-mode: forwards;
}



section#sectionwallet div#issou:active{
    transform: scale(0.9);
    transition: all;
    transition-duration: 100ms;
}



section#sectionwallet div#issou p{
    margin-left: 60px;
    margin-top: 7px;
    font-family: 'Lobster', cursive;
}

section#sectionwallet div#issou p i{
    margin-right: 20px;
}

body section{
    padding-top: 20px;
}

h1{
    text-align: center;
    font-size: 3em;
}

table
{
    margin: auto;
    border: solid 4px black;
    border-radius: 10px;
    background-color: silver;
    padding: 10px;
    border-collapse: collapse;    
}

caption{
    font-size: 1.5em;
    color: rgb(57, 93, 192);
}

th{
    border: solid 2px black;
    padding: 10px;
}


td{
    font-size: 1em;
    border: solid 2px black;
    padding: 10px;   
}

tr.plus{
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    transition-property: all;
    transition-duration: 500ms;
}

tr.plus:hover{
    height: 50px;
    background-color: chartreuse;
    font-size: 3em;
    color: white;
}

tr.plus:active{
    box-shadow: inset 0px 0px 10px 6px chartreuse;
    color: chartreuse;
    background-color: white;
}

footer{

    background-color: cornflowerblue;
    margin-bottom: 30px;
    height: 200px;
    padding-top: 20px;
    display: flex;   
    margin-bottom: -35px;
    padding-top: 10px;
    margin-top: 60px;
}